*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 5%;
  margin: 0;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main-sketch main-sketch"
    "footer footer footer";
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 100px 1fr 70px;
  height: 100vh;
  overflow: hidden;
  background: #1b2430;
}

header{
  grid-area: header;
  color: white;
  display: flex;
  justify-content: center;
}

footer{
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  justify-content: center;
}

.navBar {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  border: 1px solid lightblue;
}

.navBtns{
  height: 3vh;
  width: 50%;
  padding: 1.5em;
  font-size: 1em;
  font-weight: bold;
  transform: scale(1);
  contain: content;
  font-size: 1em;
  transition: all .2s ease-in;
  border-radius: 15px;
  background: #55c2da;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #00c1f1;
  box-shadow:0px 10px 50px 0px #05647c;
}

.navBtns:hover{
  transform: scale(1.1);
  background: #034758;
  border: 2px solid white;
}


#main-container{
  grid-area: main-sketch;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightblue;
  background: #eb1d36;
  border-radius: 100px;
  height: auto;
  max-width: 800px;
  justify-self: stretch;
}

.title{
  display: grid;
  font-size: 3em;
  font-weight: bolder;
  color: white;
  border: 1px solid lightblue;
  margin: 0;
  padding: 10px;
}

.grid-container{
  min-height: 600px;
  min-width: 600px;
  display: grid;
  border: 1px solid lightblue;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.grid-cell{
  background: white;
  border: 1px solid lightblue;
}

.main-sketch-controls{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  border: 1px solid lightblue;
  padding: 10px;
}

.control{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  align-self: center;
  justify-self: center;
}

#gridModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal-content{
  position: relative;
  cursor: default;
  background: #fcf8e8;
  border-radius: 15px;
  padding: 1em;
  height: 100%;
  width: 100%;
  max-width: 25vw;
  max-height: 20vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  contain:content;
}

label {
  font-size: 1em;
  font-weight: bolder;
}

.close-modal{
  display: flex;
  gap: 10px;
}
.modal-button{
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  margin-top: 20px;
  padding: .5vh 1vw;
  background-color: #00aeff;
  border: 2px solid #2a8cfd;
  border-radius: 5px;
  box-shadow: 4px 4px #2d2d2e;
  color: white;
  transform: scale(1);
  transition: all .35s ease-in;
}

.modal-button:hover{
 transform: scale(1.1);
 background: #055bbe;
}

